<label for="email">Email</label>
<input type="email" name="user[email]" id="email" placeholder="john@smith.com">
<label for="password">Password</label>
<input type="password" name="user[password]" id="password">
<input type="submit" value="Login"> 