<div class="form">
  <label for="post_title">Title</label>
  <input id="post_title" type="text" name="post[title]" placeholder="Enter Title" value="<%=@post.try(:title)%>"><br> 

  <!-- <label for="post_author">Author</label>
  <input id="post_author" type="text" name="post[author]" placeholder="Your name(optional)" value="<%=@post.try(:author)%>"><br> -->

  <label for="post_body">Body</label>
  <textarea id="post_body" type="textarea" name="post[body]" placeholder="Start typing your post here" value="<%=@post.try(:body)%>"></textarea><br>

  <label for="tags">Add Tags</label>
  <input id="tags" type="text" name="tags" placeholder="tag1, tag2, tag3, etc." value="<%=@post.try(:list_tags)%>"><br>
  <label for="anonymous">Post anonymously</label>
  <input id="anonymous" type="checkbox" name="anonymous" value="anonymous">
</div>
