<h3>Edit your post</h3>

<form action="/posts/<%= @post.id %>" method="POST">
  <%= erb :_post_form %>
  <input class="update_button" type="submit" value="update">
</form>

<form action="/posts/<%= @post.id %>/delete" method="POST">
  <input class="delete_button" type="submit" value="delete">
</form>

