<h3>Ruh roh there aren't any tags called '<%= @tag_name %>' feel free to tag a post of your own <a href="/posts/new">here</a>, also here's an animal.</h3>

<img src="http://lorempixel.com/g/600/400/animals" alt="some random animal">
